body{
 
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
   
}
.top-background{
    width: 100%;
}

a{
    color:#ffffff;
}


.menu-text{
font-weight: 100;
font-size: 2em;
font-size: x-large;
}

.name-text{
font-size: 15px;
font-weight:100;
letter-spacing: 10px;
color:rgb(255, 255, 255) ;

}

.intro-text{
    position: absolute;
    top:250px;
    left:65px;

}
.intro-text h1{
    font-size: 6em;
    font-weight: bold;
    color: white;

}

.intro-text p{
    color: white;
    font-size: 40px;
font-weight: 100;
}

.dev-text{
 font-weight: 400;
 color: #00eeff;

}

.dev-text2{
    
 font-size: 50px;
}


.popup-text{
    font-weight: 300;
font-size: x-large;

}

#header-bg{
    background-image: url(./images/despaired-2261021_1920.png);
    /* background-size: cover;
    background-position: center right ; */
    height: 100vh;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-bg{
    background-image: url(./images/aboutme1.png);

    height: 100vh;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



#project-title{
 font-weight: 100;

}


.titles{
   top:100px
}

.project-title{
    font-weight: 300;
}

.apple-p{
    font-weight: 200;
    font-size: 20px
}

.devider{
    margin-top: 100px;
    
}

.nav-link:hover{
    color:#00eeff ;
}

.project-margin{
    padding-top: 200px;
}

.fixedheader{
    position: sticky;
}

.nav-bg{
    background-color: #ffffff;
}

.no-gutter{
    padding-left: 0;
    padding-right: 0;
}

.aboutme-text{
padding-top: 50px;

    font-weight: 100;
    color: #ffffff;
}

.aboutme-p{

    color: #ffffff;
    font-weight: 100;
    font-size: 40px;
  
   
}

.about-me-p2{
    font-weight: 300;
}

.view-work{
    font-weight:bold;
    font-size: 20px;
    color:#3DBBEF;
    padding-top: 40px;

}
.arrow-bounce {
    animation-name: arrow-bounce ;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}
@keyframes arrow-bounce  {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-25px); }
    100% { transform: translateY(0); }
}