body{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
   
}
.top-background{
    width: 100%;
}

a{
    color:#ffffff;
}


.menu-text{
font-weight: 100;
font-size: 2em;
font-size: x-large;
}

.name-text{
font-size: 40px;
font-weight: bold;
letter-spacing: 20px;
color:#d4d0c7a4;
margin-top: 35px;
}

.intro-text{
    position: absolute;
    top:250px;
    left:65px;

}
.intro-text h1{
    font-size: 6em;
    font-weight: bold;
    color: white;

}

.intro-text p{
    color: white;
    font-size: 40px;
font-weight: 100;
}

.dev-text{
 font-weight: 400;
 color: #00eeff;

}

.dev-text2{
    
 font-size: 50px;
}

#header-bg{
    background-image: url(./images/despaired-2261021_1920.png);
    background-size: cover;
    background-position: center right ;
    height: 100vh;
}

